
<%- include("partials/header") -%>
<div class="container main-div">
  <%- include("partials/navbar") -%>

  <h1 class="blog-link"><%= title %></h1>
  <p><%= content %></p>
</div>

<%- include("partials/footer") -%>
