<%- include("partials/header") -%>
<div class="container main-div">
  <%- include("partials/navbar") -%>
<div class="container">
  <!-- <h1>Biscuit Vintage Journal</h1>
  <h5>Musings off all things vintage</h5> -->
  <div class="row">
    <%- include("partials/blogPost") -%>
    <%- include("partials/blogPost") -%>
    <%- include("partials/blogPost") -%>
    <%- include("partials/blogPost") -%>
    <%- include("partials/blogPost") -%>
    <%- include("partials/blogPost") -%>
    <%- include("partials/blogPost") -%>
    <%- include("partials/blogPost") -%>
    <%- include("partials/blogPost") -%>

  </div>
</div>

</div>
<%- include("partials/footer") -%>
