<%- include("partials/header") -%>
<div class="container main-div">
  <%- include("partials/navbar") -%>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <h3>Categories</h3>
          <li>Glass</li>
          <li>Pyrex</li>
          <li>books</li>
          <li>Textiles</li>
          <li>Toys</li>
        </ul>
      </div>
      <div class="col-md-8">
        <div class="container">
          <div class="row">
            <%- include("partials/gallerySection") -%>
            <%- include("partials/gallerySection") -%>
            <%- include("partials/gallerySection") -%>
            <%- include("partials/gallerySection") -%>
            <%- include("partials/gallerySection") -%>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
